extends layout

block content
  .jumbotron
    h1.center Box Nro #{box.code}
    br
    p.text-center="Por aca diria cuantos hay en la cola y cual es el que viene"

    p.text-center
      a.btn.btn-primary.btn-lg#next_call(href="#" role="button")="Llamar proximo"


block js

