extends layout

block content
  .jumbotron
    .center
      - var init_date = new Date().getTime()
      img.qrcode#qr( src="/qr/" + init_date )
      a( href=call_path + init_date )="TEST"
    br
    p.text-center="Presiona el boton para obtner un numero, luega escanea el codigo con tu celular y espera a que te toque el turno"

    p.text-center
      a.btn.btn-primary.btn-lg#new_number(href="#" role="button")="Mi Numero"


block js
  script.
    $('#new_number').click( function (){
      $('#qr')[0].src = "/qr/" + new Date().getTime();
    });
