extends layout

block content
  .jumbotron
    .center
      img.qrcode#qr( src="" )
      //- a( href=call_path + init_date )="TEST"
    br
    p.text-center="Presiona el boton para obtner un numero, luega escanea el codigo con tu celular y espera a que te toque el turno"

    - boxes.forEach( function (box) {
      p.text-center
        a.btn.btn-primary.btn-lg(href="#" role="button" data-box=box.id) Box #{box.code}
    - } )


block js
  script.
    $('.btn').click( function (){
      $('#qr')[0].src = '/qr/' + $(this).data("box") + '/' + new Date().getTime();
    });

